/* header basladi */
header{
	margin-top: 10px;
}

.header_wrap{
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;

}
.logo li{
	text-decoration: none;
	color: black;
	padding:10px 70px;
	background-color: #c3c3c3;
	list-style:none;
}
.logo  a {
	text-decoration: none;
	color: black;
}

.btn{
  background-color: #c3c3c3;
  padding: 0 80px;

}
/* header bitdi */

/* navlink basdadi */
.link{
	display:inline-flex;
	align-items: center;
	justify-content:center;
	height: 50px;
	flex-wrap: wrap;
		
}
nav{
	background-color: #c3c3c3;
	margin-top: 30px;
}

.link a {
	text-decoration: none;
	color: black;
	font-size: 19px;
	font-weight:700px;


}
.link li{
	list-style: none;
}
.link-item {
	margin-right: 90px;

}
/* navlink basdadi */

/* slider-item*/ 
.slider-wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.slider-item{
	margin-top: 10px;
	padding:100px 550px;
	text-align: center;
	line-height:300px;
	background-color: #c3c3c3;
}
/* slider-item bitdi */ 

/* qutular basladi */


.rectangle-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
	flex-wrap: wrap;
}

.box{
	width:250px;
    height: 150px;
    background-color: #c3c3c3;
}
.box p{
	text-align: center;
	line-height: 150px;
}
.rectangle h2{
	text-align: center;
	margin-top: 20px;
}
/* bitdi */

/* qutular 2 basladi */
.box-item{
	justify-content: space-between;
	display: flex;
	text-align: center;
	flex-wrap: wrap;
	

}
.rectangle-box{
	width:250px;
	height:150px;
	background-color: #c3c3c3;
    margin-top: 40px;
}
.box-wrap h3{
	text-align: center;
	margin-top: 50px;
}
/* bitdi */
 
/* border box */
.border-item{
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
	
}
.border-boxing{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background-color: #c3c3c3;
	margin-top: 50px;
}
.border-box h3{
text-align: center;
margin-top: 30px;
}
/*border box bitdi*/

/*media basdadi */


@media screen and (max-width:768px){
	.slider-item{
		padding: 50px 334px;
	}
	.box{
		margin-top: 30px;
	}
	.link{
		justify-content: space-between;
	}
}
@media screen and (max-width:426px){
	.slider-item{
		padding: 50px 176px;}
	.rectangle-box{
		width: 193px;
	}
	.box{
		width: 193px;
	}
	.border-item{
		justify-content: center;
	}
	.header_wrap{
		justify-content: space-around;
	}
	.btn{
		margin-top: 10px;
	}
	.link{
		justify-content: space-between;
	}
}
@media screen and (max-width:321px){
	.link{
		justify-content: space-between;
	}
	.box{
		padding: 140px;
	}
	.rectangle-box{
		padding: 140px;
	}
	.slider-item{
		padding: 29px 125px;
	}
	.box p{
		line-height: 0;
	}
}


